body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background: linear-gradient(25deg, #2f2f2f 0%, rgb(116, 132, 139) 50%, #4f4f4f 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup_container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#signup_container h1 {
    margin-bottom: 20px;
    color: #4f4f4f; /* Matches gradient end */
    font-size: 32px;
}

#signup_container label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

#signup_container input[type="text"],
#signup_container input[type="email"],
#signup_container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

#signup_container input[type="text"]::placeholder,
#signup_container input[type="email"]::placeholder,
#signup_container input[type="password"]::placeholder {
    color: #666;
}

#signup_container input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #757575;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#signup_container input[type="submit"]:hover {
    background-color: #546E7A;
}

@media (max-width: 768px) {
    #signup_container {
        padding: 20px;
        max-width: 80%;
    }

    #signup_container h1 {
        font-size: 24px;
    }

    #signup_container input[type="text"],
    #signup_container input[type="email"],
    #signup_container input[type="password"] {
        font-size: 14px;
    }

    #signup_container input[type="submit"] {
        font-size: 14px;
    }
}