<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/error.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Page Not Found</title>
</head>

<body>
    <div class="container"><h2>Oops!</h2>
        <!-- <h1>{{.title}}</h1> -->
        <!-- <p>{{.Message}}</p> -->
         <h1>404</h1>
         <p>the page you are looking for is no where to be Found</p>
        <p><a href="/templates/layout.html">Go back to home page</a></p>
    </div>
</body>

</html>
