<html>
<header>
    <link rel="stylesheet" href="/static/css/register.css">
    </link>
</header>

<body>
    <div id="signup_container">
        <h1>Sign up</h1>
        <form action="/signup" method="POST">
            <label id="un">username</label><br>
            <input type="text" id="username_input"><br>
            <label id="email">email</label><br>
            <input type="email" id="email_input"><br>
            <label id="password">password</label><br>
            <input type="password" id="password_input"><br>
            <input type="submit" id="submit_button">
        </form>
    </div>
</body>

</html>